footer {
  background-color: #181818;
  color: #ffffff;
  position: end;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  }
.logommi {
    width: 15vw;
    display: block;
    float: right;
  }
.mentions {
    text-align: center;
  }
.contacter {
    text-align: center;
  }
.insta {
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 25%;
  }
.twitter {
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 33%;
  }
.linkedin {
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 40%;
  }
  .ligneblanche {
    width: 300px;
    justify-content: center;
    margin: auto;
  }