footer {
  background-color: #181818;
  color: #ffffff;
  position: end;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin-top: 10px;
  }
  footer a{
    color: #ffffff;
    text-decoration: underline;
  }
.logommi {
    width: 15vw;
    display: block;
    float: right;
  }
.mentionslegales {
  padding-top: 40px;
  padding-left: 20px;
}
.mentions {
    text-align: center;
    margin: 0px;
  }
.mecontacter {
  padding-left: 20px;
}
.contacter {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
.insta {
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 25%;
    margin-top: 20px;

  }
.twitter {
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 33%;
    margin-top: 20px;
  }
.linkedin {
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 40%;
    margin-top: 20px;

  }
  .ligneblanche {
    width: 300px;
    justify-content: center;
    margin: auto;
  }
  footer hr {
    display: block; 
    height: 1px;
    width: 300px;
    border: 0; 
    border-top: 4px solid #ffffff;
    margin-top: 0px; 
    margin-bottom: 0px;
    padding: 0;
    line-height: 3em;
  }
.langue {
  display: inline-block;
  position: relative;
  left: 38%;
  font-size: 20px;
  bottom: 10px;
  }