body{
  background-color: #FAFAFA;
}
.titre3 {
  text-align: center;
}
.flechehome {
  display: block;
  margin: 0 auto;
  width: 20vw;
}
.ligne {
  display: block;
  margin: 0 auto;
  width: 50vw;
}
.ligneblanc {
  display: block;
  margin: 0 auto;
  width: 50vw;
}
.ayasofiahome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.livrehome {
  width: 50vw;
  display: block;
  margin: 0 auto;
}
.musiquehome {
  width: 70vw;
  display: block;
  margin: 0 auto;
}
.filmhome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.espoirhome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.Regrethome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.buthome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.flechecourbe {
  width: 8vw;
  display: block;
  float: right;
  transform: scaleX(-1);
}
.Ayasofya2 {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.Ayasofya6 {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
img {
  display: flex;
    width: 100%;
  }
.carrousel_parent-ecrans {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  
  }

.carrousel_ecran {
  flex: none;
  width: 100%;
  scroll-snap-align: start;
  }
.carrousel_ecran figure {
  margin: 0%; 
  }
  .youtube_musique {
    width: 400px;
    height: 315px;
    display: block;
    margin: 0 auto;
  }