body{
  background-color: #FAFAFA;
}
.titre3 {
  text-align: center;
}
.flechehome {
  display: block;
  margin: 0 auto;
  width: 20vw;
}
.ligne {
  display: block;
  margin: 0 auto;
  width: 50vw;
}
.ligneblanc {
  display: block;
  margin: 0 auto;
  width: 50vw;
}
.ayasofiahome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.livrehome {
  width: 50vw;
  display: block;
  margin: 0 auto;
}
.musiquehome {
  width: 70vw;
  display: block;
  margin: 0 auto;
}
.filmhome {
  width: 50vw;
  display: block;
  margin: 0 auto;
}
.espoirhome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.Regrethome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.buhome {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.flechecourbe {
  width: 8vw;
  display: block;
  float: right;
  transform: scaleX(-1);
}
.Ayasofya2 {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
.Ayasofya6 {
  width: 90vw;
  display: block;
  margin: 0 auto;
}
img {
  display: flex;
    width: 100%;
  }
.carrousel_parent-ecrans {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  
  }

.carrousel_ecran {
  flex: none;
  width: 100%;
  scroll-snap-align: start;
  }
.carrousel_ecran figure {
  margin: 0%; 
  }
.youtube_musique {
    width: 400px;
    height: 315px;
    display: block;
    margin: 0 auto;
  }
.youtube_film {
    width: 400px;
    height: 315px;
    display: block;
    margin: 0 auto;
  }
.presentation {
  margin: auto;
  display: block;
  width: 350px;
  height: 175px;
  left: 24px;
  top: 250px;
  background: #F0B27A;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 17px;
  gap: 10px;
  font-size: 17px;

}
.logo_contact {
  width: 10vw;
  display: block;
  float: right;
  margin: 1%;
}
.bouton_contacte_envoyer {
  background: #161029;
  border: 1px solid #F0B27A;
  color: #FFFFFF;
  margin: 1%;
}
.formulaire {
  border: 2px solid #F0B27A;
}
.texte_contacte {
  margin: 2%;
  font-size: 18px;
}
.rectangle_contacte {
  display: block;
  margin: auto;
  background: #FAFAFA;
  border: 1px solid #F0B27A;
  box-shadow: inset 0px -16px 32px rgba(33, 34, 28, 0.05);
  border-radius: 4px;
  width: 313px;
}
.chiffreromain1 {
  display: inline-block;
  text-align: center;
  font-size: 24px;
}
.chiffreromain2 {
  display: inline-block;
  text-align: center;
  font-size: 24px;
}
.chiffreromain3 {
  display: inline-block;
  text-align: center;
  font-size: 24px;
}
.chiffreromain4 {
  display: inline-block;
  text-align: center;
  font-size: 24px;
}